<script type="text/javascript">
<% if logged_in? %>
window.currentUser =
<%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
<% end %>

</script>

<script type="text/javascript">
window.staticImages = {
  pinitLogo: "<%= asset_url("squeezy.png") %>",
  tempLogo: "<%= asset_url("temp.png") %>",
  search: "<%= asset_url("search.png") %>",
  edit: "<%= asset_url("edit.png") %>",
  drop: "<%= asset_url("drop.png") %>",
  git: "<%= asset_url("github.png") %>",
  linked: "<%= asset_url("linkedin.png") %>"
}
</script>
<main id='root'>I WON'T BE SEEN</main>
